:root{
    --rows:1;
    --cols:1;
}
#grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-template-columns: repeat(var(--rows),auto);
    grid-template-rows: repeat(var(--cols), auto);
}

.grid-item {
    background-color: white;
  }